.idea/
.ideaDataSources/
.shelf/

.project
.metadata
.settings
.classpath

*.bak
*.ids
*.iml
*.ipr
*.iws
*.log
*.orig
*.tmp

**/src/main/annotations/
**/src/test/annotations/

bak/
bin/
build/
generated/
log/
logs/
target/
temp/
tmp/
lib/
out/

buildNumber.properties

nb-configuration.xml
atlassian-ide-plugin.xml
rebel.xml

Desktop.ini
Thumbs.db
app-frontend/node_modules/
